body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background: linear-gradient(to right, #007BFF, #6c757d);
    color: white;
    text-align: center;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #ffc107; /* Gold border */
    animation: pulse 2s infinite;
}

.contact-info a {
    color: #ffc107; /* Gold links */
    text-decoration: none;
}

h1 {
    font-size: 3.5em;
    margin: 0;
}

h2 {
    font-size: 2.5em;
    color: #ffc107;
    margin-bottom: 20px;
}

nav {
    background-color: #343a40;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
}

nav ul li a:hover {
    color: #ffc107; /* Gold hover effect */
}

main {
    padding: 20px 0;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-item {
    flex: 1 1 30%; /* Take up 30% of the width */
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
}

.skill-item i {
    font-size: 50px;
    color: #007BFF;
}

.skill-item h3 {
    margin: 10px 0 0 0;
}

.skill-item:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
    position: relative;
}

footer a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}

footer a:hover {
    color: #ffc107; /* Gold hover effect */
}
